
<div class="container">
    <br><br>
    <h4>Enter your planet origin and the destination</h4>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  
        <div class="form-group">
       
        <label>Planet Origin:</label>
       
        <input [(ngModel)]="request.planetOrigin"class="form-control" formControlName="oldPassphrase" type="text">
       
        </div>
       
        <div class="form-group">
       
        <label>Planet Destination:</label>
       
        <input [(ngModel)]="request.planetDest"class="form-control" formControlName="newPassphrase" type="text">
       
        </div>
        <button type="submit"

        class="btn btn-info">
       Submit
        </button>
        </form>
    </div>
